 <h2>this is second text slot:</h2>
 <br>
 <p><%= link_to "back","friendships/destroy/2",class: :button%></p>
 <div contenteditable style="font: 2rem/1.5 monospace;max-width:60rem;margin:0 auto;padding:4rem;"></div>